## Notes
- Input: `outputs/clean1_loginDetails.csv`
- Output: `outputs/clean2_loginDetails.csv`

In [1]:
import pandas as pd
import re
import numpy as np

In [2]:
df = pd.read_csv("outputs/clean1_loginDetails.csv")

In [3]:
df.columns

Index(['adm_no', 'sex', 'dept', 'borrower_type', 'entry_date', 'entry_time'], dtype='object')

In [4]:
# Functions to get department name and year from dept field
def getYear(s):
    _ = re.search(r'[0-9]{4}', s)
    if(_ is not None):
        return _[0]
    return np.nan

def getDept(s):
    _ = re.sub(r"[0-9]{4}", "", s)
    _ = _.replace("-", " ").strip()
    if (_.find("nan") != -1):
        return np.nan
    return _

In [5]:
# Create dictionary to replace dept field with department name and year 

# pd.set_option('display.max_rows', None) # to show all rows
unq_dept = df["dept"].drop_duplicates()
replace_dept = {}
for x in unq_dept:
    replace_dept[x] = {"year": getYear(str(x)), "branch": getDept(str(x))}

# print(replace_dept)

In [6]:
# Create two cols department and batch from dept column

depts = []
years = []

for i in df["dept"]:
    try:
        depts.append(replace_dept[i]["branch"])
        years.append(replace_dept[i]["year"])
    except KeyError:
        depts.append(None)
        years.append("")

df["department"] = depts
df["batch"] = years

# verification
# df.columns

In [7]:
# drop old dept column
df2 = df.drop('dept', axis=1)

# verification
# df2.columns

In [8]:
# replacing CSE with CS for Computer Science department
df2["department"] = df2["department"].replace(['CSE'], 'CS')

# replacing EEE with EE for Electronics
# df2["department"] = df2["department"].replace(['EEE'], 'EE')

In [9]:
# finding unique department names
_depts = []
for i in df2["department"].drop_duplicates():
    if i is np.nan:
        continue
    _depts.append(str(i))
print(_depts)

['ME', 'EC', 'IT', 'CS', 'EEE', 'ELECTRONICS AND COMMUNICATION', 'M.Tech  CSCL', 'ECONOMICS', 'MTech CSE CL', 'COMPUTER SCIENCE', 'GENERAL', 'M Tech  CSCL', 'Ph.D', 'ELECTRICAL', 'INFORMATION TECHNOLOGY', 'MECHANICAL', 'CENTRAL LIBRARY', 'CIVIL', 'MATHEMATICS', 'M.Tech ME ROB', 'CE', 'MTech ME ROB']

In [10]:
df2.columns

Index(['adm_no', 'sex', 'borrower_type', 'entry_date', 'entry_time',
       'department', 'batch'],
      dtype='object')

In [11]:
# extract details of library users and save it in separate file
library_users = df2[["adm_no", "sex", "borrower_type", "department", "batch"]]
library_users = library_users.rename(columns={"borrower_type": "type", "adm_no": "id"})
library_users_unique = library_users.drop_duplicates(subset=['id'])
library_users_unique.to_csv("outputs/clean2_library_users.csv", index=False)
library_users_unique

             id sex     type department batch
0      14ME4339   M  Student         ME  2014
1      14ME4253   M  Student        NaN   NaN
2      14ME4457   M  Student         ME  2014
3      14ME4409   M  Student         ME  2014
4      13EC4046   M  Student        NaN   NaN
...         ...  ..      ...        ...   ...
37915    21B162   M  Student         CE  2021
37934    21B541   M  Student         IT  2021
37958    20L594   M  Student         ME  2019
37987    21B449   M  Student         IT  2021
37988    21B659   M  Student         IT  2021

[2091 rows x 5 columns]

In [12]:
# extract check in check out and save it in separate file
check = df2[["adm_no", "entry_date", "entry_time"]]
check = check.rename(columns={"adm_no": "id"})
check.to_csv("outputs/clean2_loginDetails.csv", index=False)

In [13]:
# from the unique names select only required
_depts = ['ME', 'EC', 'IT', 'CS', 'EEE','EE', 'CE']

In [14]:
null_data = df[df["dept"].isnull()]

In [15]:
null_data.to_csv("outputs/clean2_loginDetails_missingDept.csv", index=False)